<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">

  <h1><%= title %></h1>
  <hr>
  <p>My name is <strong>Ronald Hardock</strong></p>
  <p>
  I am a <strong>Full Stack Developer</strong> from Toronto, Canada.</p>
  <p>
  I have a strong passion to always learn anything related to technology and math.</p>

  <p>
  I have worked for over 25 years with Autodesk developing the world's leading 3D modeling software
  using C++, Python and Java.</p>

  <p>
  I have Bachelor of Math and Masters of Math degrees from the University of Waterloo, Ontario, Canada
  </p>
  <p>
  <a href="/Assets/RonHardockResume2022.pdf" target="_blank">Click here to see my resume</a>
  </p>
        
  <img src="/Assets/images/ronald.jpg"
    alt="Ronald Hardock" class="img-thumbnail rounded-circle" width="200" height="200">

  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  

