<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
  <h1><%= title %></h1>

  <hr>
  <h2>1. Alias Research
  <image src="/Assets/images/alias-wavefront.png" alt="Alias" height="50" align="right">
  </image>
  </h2>
  <p> Alias AutoStudio is the world's leading product in the Computer Aided Geometric Design field.
    Customers include all the major automotive companies in the world.  I have worked on Alias for over 25 years.
    I was the original developer of the square, rail and align tools in Alias.
    Alias is used by designers to create the exterior and interior surfaces of cars, trucks, as well as many other products.

  </p>

  <h2>2. Creative Bridge
    <image src="/Assets/images/maya.png" alt="Maya" height="50" align="right">
    </image>
  </h2>
  <p> Creative Bridge was a Maya workflow plugin that added batch data translation capabilities as well extra functionality
    to Maya. Maya is the world's leading 3D animation software.  
    I was the lead developer of the Creative Bridge plugin and handled all aspects of the project, from 
    design, development, testing, documentation and release.  I also handled all customer support issues.
  </p>

  <h2>3. Opticore Visualizer
    <image src="/Assets/images/volvo-3.png" alt="Opticore Visualizer" height="50" align="right">
    </image>
  </h2>
  <p> 
    Opticore Visualizer was a 3D visualization software package that was primarily used by Volvo to create
    high quality images of their vehicles for documentation and maintenance purposes.  
    I was the lead developer of the Opticore Visualizer software product.  
    I handled all aspects of the project, from weekly customer meetings, to design, development, testing, 
    documentation and release.
  </p>

  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
