<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">

  <h1><%= title %></h1>
  <hr>

  <p>
    I can offer the following services:
    <li>Software Development</li>
    <li>Web Development</li>
    <li>Front-end Development</li>
    <li>Back-end Development</li>
    <li>Desktop Application Development</li>
    <li>Database Development</li>
    <li>Technical Writing</li>
    <li>Technical Support</li>
    <li>Project Management</li>
    <li>Software Testing</li>
    <li>Software Design</li>
    <li>Software Architecture</li>
    <li>Software Documentation</li>
    <li>Software Release Management</li>
    <li>Software Training</li>
    <li>Software Customer Support</li>
  </p>

  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  
